In [1]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [23]:
df = pd.read_csv('HR_comma_sep.csv')
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [28]:
X = df[['satisfaction_level', 'number_project', 'average_montly_hours', 'time_spend_company', 'promotion_last_5years', 'salary']]
X.head()

,satisfaction_level,number_project,average_montly_hours,time_spend_company,promotion_last_5years,salary
0,0.38,2,157,3,0,low
1,0.80,5,262,6,0,medium
2,0.11,7,272,4,0,medium
3,0.72,5,223,5,0,low
4,0.37,2,159,3,0,low

In [29]:
print(X.columns)

salary_dummies = pd.get_dummies(X.salary, prefix="salary")
df_with_dummies = pd.concat([X,salary_dummies],axis='columns')
df_with_dummies.drop('salary',axis='columns',inplace=True)
X = df_with_dummies

X.head()

Index(['satisfaction_level', 'number_project', 'average_montly_hours',
       'time_spend_company', 'promotion_last_5years', 'salary'],
      dtype='object')

,satisfaction_level,number_project,average_montly_hours,time_spend_company,promotion_last_5years,salary_high,salary_low,salary_medium
0,0.38,2,157,3,0,0,1,0
1,0.80,5,262,6,0,0,0,1
2,0.11,7,272,4,0,0,0,1
3,0.72,5,223,5,0,0,1,0
4,0.37,2,159,3,0,0,1,0

In [32]:
Y = df[['left']]
Y.head

<bound method NDFrame.head of        left
0         1
1         1
2         1
3         1
4         1
...     ...
14994     1
14995     1
14996     1
14997     1
14998     1

[14999 rows x 1 columns]>

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y,train_size=0.5)

In [35]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [36]:
model.fit(X_train, y_train)

LogisticRegression()

In [37]:
model.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0])

In [38]:
model.score(X_test,y_test)

0.7644